.logo {
    height: 60px;
}
.body-bg{
    opacity: 0.15;
    width: 100%;
    height: 100vh;
    z-index: -1
}
#mv, .about{
    width: 90%;
}

@media print {
    body * {
        visibility: hidden;
    }
    .print, .print * {
        visibility: visible;
    }
    .print {
        /* Center the printable content*/
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }
}